/* Estilo Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: azure;
    height: 100vh;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #000bee;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2;
}
button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    transform: scale(1.05);
}
 .interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.texto-esquerdo h1{
    font-size: 49px;
}
h2.titulo{
    color: #000;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #000bee;
}
/* Estilo do cabecalho */
header{
    padding: 40px;
}
header >.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: rgb(81, 81, 81);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #000;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    padding: 0 40px;
}
header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #000bee;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
 .btn-contato button{
    color: rgb(255, 255, 255);
}
 
/* Estilo do Topo */
section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px
    ;
}
.topo-do-site h1{
    font-size: px;
    line-height: 40px;
}
.topo-do-site .texto-esquerdo h1 span{
    color: #000bee;
    font-size: 70px;
}
.topo-do-site .texto-esquerdo p{
    margin: 40px 0;
}
.topo-do-site .texto-esquerdo .btn-contato button{
    transition: .2s;
}
.topo-do-site .img-direita img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/* Estilo das Especialidades */
section.especialidades{
    padding: 40px 4% ;
}
section.especialidades .flex{
    gap: 60px;
}
.especialidades .especialidades-box{
    padding: 40px;
    transition: .2s;
    margin-top: 45px;
    border-radius: 20px;
    text-align: center;
    
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #000000ba;
}
.especialidades .especialidades-box i{
    font-size:75px ;
    align-items: center;
    justify-content: center;
    display: block;
    margin: 0 auto;
    color:#000bee;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
/* ESTILO SOBRE */
section.sobre{
    padding: 65px 4%;
    
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .texto-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .texto-sobre h2 span{
    color: #000bee;
    display: block;
}
.sobre .texto-sobre p {
    margin: 20px 0;
    text-align: justify;
}
 .butao-redes button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #000bee;
    font-size: 22px;
    cursor: pointer;
    margin: 0 6px;
    transition: .2;

}
/*  ESTILO PORTFOLIO */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #b2b5ed;
}
section.portfolio .flex{
  
    gap: 80px;
 /* gap: 80px */
    margin-top: 60px;
}
.img-port{
    width: 360px;
    height: 460px;
    background-color:#000bee;
    background-size: cover;
    background-position: 100% 0% ;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.img-port:hover{
    background-position: 100% 100% ;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007b;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
   color: #FFF;
   opacity: 0;
   transition: .5s ;
}
.overlay:hover{
    opacity: 1;
}
/* ESTILO FORMULARIO */
section.formulario{
    padding: 80px 4%;  
}
form{
    max-width: 500PX;  
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
form input, form textarea{
    width: 100%;
    background-color: #a3a3a376;
    border: 0;
    outline: 0;
    padding:20px 15px;
    border-radius: 15px;
    font-size: 18px;
}
form textarea{
    resize: none;
    max-height: 220px;
}
form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn-enviar input{
    width: 120px;
    background-color: #000bee;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}
/* Estilo Rodape */
footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #b2b5ed;
}
footer .flex{
   justify-content: space-between;

}
footer .line-footer{
    padding: 20px 0;
    border-bottom: 2px solid #000bee;
}
footer .line-footer p i {
    color: #000bee;
    font-size: 25px;
}
footer .line-footer p a {
    color:  black;
}
.borda{
    border-top: 2px  #000bee solid;

}